@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'Neue Helvetica Medium';
  font-style: normal;
  font-weight: normal;
  src: url('Helvetica Neue LT 65 Medium.woff') format('woff');
}

@font-face {
  font-family: 'Neue Helvetica Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('Helvetica Neue LT 66 Medium Italic.woff') format('woff');
}


/* ---------------------- ↓↓↓↓↓ Dados Complementares dos gráficos ↓↓↓↓↓ -----------------------*/

.hide-dado {
  color: transparent;
  border: 1px solid transparent;
  background: url('arrow-down.png') no-repeat center center/cover;
  width: 60px;
  height: 30px;
  float: right;
  position: absolute;
  top: 100%;
  left: 47.5%;
  opacity: 0.4;
}

.hide-dado:hover {
  opacity: 0.65;
}

.hide-dado:focus {
  background: none;
}

.graficos-estado p {
  font-family: 'Neue Helvetica Medium';
  font-size: 35px;
  padding-top: 25px;
  margin-left: 60px;
  padding-bottom: 10px;
  color: rgba(220, 119, 13, 1);
  font-weight: 600;
  overflow: auto;
}

.graficos-estado p span {
  font-size: 70px;
  margin-left: 40px;
  color: rgba(172, 90, 0, 0.8);
  font-weight: 800;
}

.graficos-municipios p {
  font-family: 'Neue Helvetica Medium';
  font-size: 35px;
  padding-top: 25px;
  margin-left: 60px;
  color: rgba(220, 119, 13, 1);
  font-weight: 600;
  overflow: auto;
}

.graficos-municipios p span {
  font-size: 38px;
  color: rgba(220, 119, 13, 1);
  font-weight: 500;
}

.graficos-municipios p span span {
  font-size: 45px;
  margin-left: 70x;
  color: rgba(172, 90, 0, 0.8);
  font-weight: 800;
}


/* ------------------------------- ↓↓↓↓↓ Gráficos Estado ↓↓↓↓↓ --------------------------------*/

.graficos-estado {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Neue Helvetica Medium';
}

.casos-diarios-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.obitos-diarios-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-casos-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-obitos-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.primeira-dose-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.segunda-dose-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.terceira-dose-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.dose-unica-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.doses-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.ocupacao-leitos {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-leitos {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-pacientes {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.novas-internacoes {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.isola-sp {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}


/* ------------------------------- ↓↓↓↓↓ Gráficos Municípios ↓↓↓↓↓ --------------------------------*/

.graficos-municipios {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Neue Helvetica Medium';
}

.casos-diarios-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.obitos-diarios-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-obitos-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.total-casos-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.doses-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.vacina-distribuicao-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.isola-muni {
  border: 4px solid rgba(220, 119, 13, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 3px rgba(190, 120, 45, 0.4);
  position: relative;
  display: block;
  box-sizing: border-box;
}